# PDFs
*.pdf -text

# Images
*.jpeg -text
*.jpg -text
*.webp -text
*.png -text
*.gif -text
*.svg -text
*.ico -text
*.avif -text

# Fonts
*.ttf -text linguist-vendored
*.otf -text linguist-vendored
*.woff -text linguist-vendored
*.woff2 -text linguist-vendored

# Vendored code
website/res/js/vendor/** -text linguist-vendored
