# macOS
.DS_Store

# LaTeX
*.aux
*.bcf
*.idx
*.log
*.out
*.bbl
*.blg
*.xml
*.toc
*.fls
*.fdb_latexmk
*.lot
*.lof
*.ind
*.ilg
*.xdv
__latex*
*synctex*
*.listing
*.fmt
*.nav
*.snm
*.vrb

# Compiled PDFs
website/slides/*.pdf
website/lab/*.pdf
website/problem-set/*.pdf
website/syllabus/syllabus.pdf
website/quiz/*.pdf

# Rust
starter-kit/target
**/*.rs.bk
*.pdb
Cargo.lock

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
